{% extends 'cliente/estructura/base.html' %}

{% block content %}
    <h1>Lista de Torneos</h1>
    <ul>
        {% for torneo in torneos_mostrar %}
            <li>
                <strong>{{ torneo.nombre }}</strong> - {{ torneo.descripcion }}
                <br>
                Categoría: {{ torneo.categoria }}
                <br>
                Fecha de inicio: {{ torneo.fecha_inicio }}
                <br>
                
                <!-- Participantes -->
                <br>
                Participantes:
                <ul>
                    {% for torneo_participante in torneo.participantes %}
                        <li>
                            {{ torneo_participante.participante.usuario.nombre }} 
                            - Puntos obtenidos: {{ torneo_participante.puntos_obtenidos }}
                            - Posición final: {{ torneo_participante.posicion_final }}
                        </li>
                    {% empty %}
                        <li>No hay participantes</li>
                    {% endfor %}
                </ul>

                <!-- Juegos asociados -->
                <br>
       

              
            
        {% endfor %}
    </ul>
{% endblock %}
