{% extends 'cliente/estructura/base.html' %}

{% block content %}
    <h1>Lista de Juegos</h1>
    <ul>
        {% for juego in juegos_mostrar %}
            <li>
                <strong>{{ juego.nombre }}</strong>
                <br>
                Género: {{ juego.genero }} 
                <br>
                Descripción: {{ juego.descripcion }}
                <br>
                Consola: {{ juego.consola }}  <!-- Mostrar el nombre de la consola -->
                <br>
                Torneo(s): 
                {% for torneo in juego.torneos %}
                    Nombre torneo: <span>{{ torneo.nombre }}</span>
                    <br>
                    Descripcion torneo :<span>{{torneo.descripcion}}</span>
                {% empty %}
                    <span>No asignado a ningún torneo</span>
                {% endfor %}
            </li>
        {% empty %}
            <li>No hay juegos disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}