{% extends 'cliente/estructura/base.html' %}

{% block content %}
    <h1 class="display-3 text-center mb-4">Editar Participante</h1>
    <div class="container">
        <form action="{% url 'editar_participante' participante.id %}" method="post">
            {% csrf_token %}
            {% load django_bootstrap5 %}
            <div class="mb-4">
                {% bootstrap_form formulario %}
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
{% endblock %}
