{% extends 'cliente/estructura/base.html' %}

{% block content %}
<h2>Editar Torneo</h2>

{# Muestra los errores generales si existen #}
{% if formulario.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in formulario.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<form action="{% url 'editar_torneo' torneo.id %}" method="post" enctype="multipart/form-data"> 
    {% load django_bootstrap5 %}
    {% csrf_token %}
    <div class="mb-4">
        {% bootstrap_form formulario %}
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
</form>
{% endblock %}
